body{
    margin: 0;
}
body {
    background: url(../assets/background/Shizuka.png) no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.656); /* Capa de oscurecimiento */
    background-blend-mode: multiply; /* Mezcla el color con la imagen */
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}


#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

canvas {
    transform: scale(0.80);
    transform-origin: center;
}