

#characterSelection {
    position: fixed;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: none;
    box-shadow: none;
    /* Centramos la ventana */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#characterSelection h2 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-bottom: 20px;
    background: #ec307f;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}


.characters {
    display: flex;
    gap: 20px;
}

.character {
    text-align: center;
    cursor: pointer;
}

.character img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.character p{
    color : white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem; 
}

.Nano{
    background: #b582f8;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.Shizuka{
    background: #5d8fed;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}


.character:nth-child(2) img {
    width: 160px;
    /* Ajusta el tamaño del segundo personaje */
}

/* Estilos para el efecto neón */
.character:nth-child(1):hover {
    /* box-shadow: 0 0 15px 5px rgba(255, 105, 180, 0.8); */
    filter: drop-shadow(20px 20px 10px rgba(255, 105, 180, 0.8));
    /* Rosa */
}

.character:nth-child(2):hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 191, 255, 0.8));
    /* Azul */
}

/* Estilo del contenedor de la pantalla de entrada de nombre */
#nameInputContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ec307f;;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    text-align: center;
}

/* Estilo del input de texto */
#playerName {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo del botón "Aceptar" */
#submitNameButton {
    padding: 10px 20px;
    background: linear-gradient(135deg, #7619f0, #b35ded);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
}



@media screen and (min-width: 768px) {
    #characterSelection h2{
        margin-top: 7rem;
    }

    .contenedorPersonajes{
        width: 90%;
        margin: 0 auto;
        
    }

    #nameInputContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 12%;
        gap: 10px;
        margin-top: 7rem
    }
}