body {
    background-color: #f0f0f0;
    /* Color de fondo opcional */
    height: 100vh;
    font-family: 'Aclonica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

input{
    font-family: inherit;
}

input::placeholder{
    font-family: 'Aclonica', sans-serif;

}

h2.text-center {
    font-family: 'Aclonica', sans-serif; /* O la fuente que prefieras */
    font-size: 3rem; /* Ajusta el tamaño si es necesario */
    font-weight: bold; /* Opcional: Cambia el grosor */
    text-align: center; /* Alinea el texto al centro */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3); /* Sombra del texto */
    color: white /* Cambia el color si lo deseas */
}


.aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

a{
    text-decoration: none;
}

.contenedor,
.contenedorEscojer,
.contenedorC,
.contenedorA,
.contenedorT,
.contenedorP {
    display: flex;
    margin-top: -40px;
    flex-direction: column;
    /* Organiza los botones en columnas */
    align-items: flex-start;
    /* Alinea los botones a la izquierda */
    gap: 20px;
    /* Espacio entre los botones */
    width: 90vw;
    /* Ancho del contenedor */
    height: 90vh;
    /* Altura del contenedor */

    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* Espacio interno del contenedor */
}

.contenedor {
    background-image: url('../assets/background/menu.jpg');
}

.contenedorEscojer {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Alinea el contenido hacia la parte inferior */
    height: 100vh; /* Altura de la ventana completa */
    position: relative; /* Asegura que el contenedor tenga el 100% de la altura */
    background-image: url('../assets/background/kusuri.jpg');

}

.contenedorC {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Alinea el contenido hacia la parte inferior */
    height: 100vh; /* Altura de la ventana completa */
    position: relative; /* Asegura que el contenedor tenga el 100% de la altura */
    background-image: url(../assets/background/ShizukaBackground.jpg);
}

.contenedorA {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Alinea el contenido hacia la parte inferior */
    height: 100vh; /* Altura de la ventana completa */
    position: relative; /* Asegura que el contenedor tenga el 100% de la altura */
    background-image: url(../assets/background/kusuri.jpg);
}

.contenedorT {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Alinea el contenido hacia la parte inferior */
    height: 100vh; /* Altura de la ventana completa */
    position: relative; /* Asegura que el contenedor tenga el 100% de la altura */
    background-image: url(../assets/background/NanoBackground.jpg);
}

.contenedorP {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Alinea el contenido hacia la parte inferior */
    height: 100vh; /* Altura de la ventana completa */
    position: relative; /* Asegura que el contenedor tenga el 100% de la altura */
    background-image: url(../assets/background/karane.jpg);
}

.ajuste{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    /* Espacio interno del contenedor */
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;

}

.titulo img {
    width: 300px;
    align-items: center;
    height: 150px;
    margin-left: 10rem;
}

.titulo p {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 10rem;
}

.botones {
    display: flex;
    flex-direction: column;
    /* Organiza los botones en columnas */
    justify-content: center;
    margin-top: 1rem;

    margin-left: 10rem;
    gap: 20px;
    /* Espacio entre los botones */
    padding: 20px;
    /* Espacio interno del contenedor */
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    /* Espaciado interno del botón */
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    height: 50px;
    /* Ajusta la altura según sea necesario */
    width: 300px;
    /* Ajusta el ancho según sea necesario */
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.divRegresar {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: absolute;
    bottom: 10%; /* Ajusta la distancia desde el fondo de la pantalla */
}

.buttonContainer {
    display: flex;
    flex-direction: column; /* Apila los botones verticalmente */
    align-items: center; /* Centra los botones horizontalmente */
}

.ContenedorA{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: absolute; /* Ajusta la distancia desde el fondo de la pantalla */
}

.ContenedorA h2{
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    margin-top: 1rem;
}

.contenedorA label{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    margin-top: 1rem;
}


.ajusteContainer{
    display: flex;
    flex-direction: column; /* Apila los botones verticalmente */
    align-items: center; /* Centra los botones horizontalmente */
}


.btnRegresar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    padding: 10px 20px; /* Espaciado interno del botón */
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    height: 50px; /* Ajusta la altura del botón */
    width: 300px; /* Ajusta el ancho del botón */
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btnJugar {
    background: linear-gradient(135deg, #f82371, #fc25a2);

}

.btnTutorial {
    background: linear-gradient(135deg, #7619f0, #b35ded);
}

.btnPuntuaciones {
    background: linear-gradient(135deg, #f09819, #edde5d);
}

.btnAjustes {
    background: linear-gradient(135deg, #ff1c68, #cc3e51);
}

.btnCreditos {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.btnRegresar {
    background: linear-gradient(135deg, #495bf8, #52d7ff);
}

#playButton{
    background: linear-gradient(135deg, #f82371, #fc25a2);
}

#playButton:active {
    transform: scale(0.9);
    transition: all 50ms ease;
}

button:active {
    transform: scale(0.9);
    transition: all 50ms ease;
}

.icon {
    width: 25px;
    height: 36px;
    transition: all 0.5s ease;
    z-index: 2;
}

.play {
    transition: all 0.5s ease;
    transition-delay: 200ms;
}

button:hover .icon {
    transform: scale(3) translate(40%);
}


button:hover .play {
    transform: translateX(100%);
    transition-delay: 300ms;
}

.btnTutorial:hover .play {
    transform: translateX(70%);
}

.btnTutorial:hover .icon {
    transform: scale(3) translate(60%);

}

.btnPuntuaciones:hover .play {
    transform: translateX(30%);
}

.btnAjustes:hover .play {
    transform: translateX(60%);
}

.btnCreditos:hover .play {
    transform: translateX(60%);
}

.btnRegresar:hover .play {
    transform: translateX(60%);
}

a {
    text-decoration: none;
}

canvas {
    display: none;
}

.divRegresar a {
    text-decoration: none; 
    
}

#playButton{
    flex-direction: column;
}


.puntuaciones{
    text-transform: uppercase;
}

